<div id="footer" class="mt-5">
    <div class="footer-top w-100 h-75 m-0 py-lg-4 container-fluid row p-0 m-0">
        <div class="col-lg-3 col-md-6 col-sm-6 p-lg-5 links">
            <img src="../imgs/Seccon_white_logo.png" class="w-75" alt="">
            <p class="text-white mt-2">As it turns out that Seccon helps you manage your business, security, information
                data,
                software dev and
                other activities.</p>
        </div>
        <div class=" col-lg-3 col-md-6 col-sm-6 p-lg-5 text-white links">
            <h5 class="fw-bold position-relative pb-3">USEFUL LINKS</h5>
            <ul class="list-unstyled">
                <li class="mb-2">
                    <a href="Security_Consulting.html" class="text-decoration-none text-light">Security Consulting</a>
                </li>
                <li class="mb-2">
                    <a href="" class="text-decoration-none text-light">Business Consulting</a>
                </li>
                <li class="mb-2">
                    <a href="Education_Training.html" class="text-decoration-none text-light">Education & Training</a>
                </li>
                <li class="mb-2">
                    <a href="Information_Service.html" class="text-decoration-none text-light">Information Service</a>
                </li>
                <li class="mb-2">
                    <a href="" class="text-decoration-none text-light">Entreprenuership</a>
                </li>
                <li class="mb-2">
                    <a href="" class="text-decoration-none text-light">Software Development</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 p-lg-5 text-white contact">
            <h5 class="fw-bold position-relative pb-3">CONTACT US</h5>
            <p class="mt-3">
                No 9, Chief fatai aremu street, <br />
                Ajegunle Apapa, <br />Lagos, Nigeria.
            </p>
            <p><span class="fw-bold">Email:</span> info@onlineLibrary.com</p>
            <p><i class="fas fa-phone me-2"></i> +2349016290149</p>
            <p><i class="fab fa-whatsapp me-2"></i> +2349016290149</p>
            <ul class="list-unstyled d-flex d-inline-row m-0">
                <li class=""><i class="fab fa-facebook fa-2x pe-3 pt-3"></i></li>
                <li class=""><i class="fab fa-instagram fa-2x p-3"></i></li>
                <li class=""><i class="fab fa-linkedin-in fa-2x p-3"></i></li>
                <li class=""><i class="fab fa-google fa-2x p-3"></i></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 p-lg-5 text-white newsletter">
            <h5 class="fw-bold position-relative pb-3">OUR NEWSLETTER</h5>
            <p class="text-white py-lg-3">
                Stay informed with what we have been unto.
            </p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2" />
                <span class="input-group-text bg-primary" id="basic-addon2"><i
                        class="fas fa-location-arrow text-white"></i></span>
            </div>
        </div>
    </div>
    ,
    <div class="container-fluid footer-bottom p-0 m-0">
        <div class="row m-0 text-center">
            <div class="col-lg-6 m-auto">
                <p class="mb-0 text-white">
                    &copy; right 2022 <span class="fw-bold">Security Consultancy.</span> All
                    Right Reserved
                </p>
                <p class="text-white text-capitalize">
                    Designed by <span>Dev YOH</span>
                </p>
            </div>
        </div>
    </div>
</div>