<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="form" method="post" action="/user">
        <div class="row ">
            <div class="col-lg-6">
                <h5 class="mb-4 fw-lighter">Get In Touch</h5>
                <div class="row m-0">
                    <div class="col-lg-6 ps-0 pe-1">

                        <!-- Name input -->
                        <div class="form-outline mb-3">
                            <input id="username" type="password" id="form4Example1"
                                class="form-control paragraph-lg p-2 fn" placeholder="password" />
                            <!-- <label class="form-label" for="form4Example1">First Name</label> -->

                        </div>
                    </div>
                    <div class="col-lg-6 pe-0 ps-1">

                        <!-- Name input -->
                        <div class="form-outline mb-3">
                            <input id="username" type="text" id="form4Example1" class="form-control paragraph-lg p-2"
                                placeholder="User Name" />
                            <!-- <label class="form-label" for="form4Example1">Last Name</label> -->

                        </div>
                    </div>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block my-4 w-100">Send</button>

            </div>
        </div>
    </form>
</body>

</html>